.occ-tools-proxy-widget-area .widget-area-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #e75e9e;
  border: 1px solid #333;
  z-index: 9999;
  min-height: 50px;
}

.occ-tools-proxy-overlay-on .occ-tools-proxy-widget-area .widget-area-overlay {
  display: flex;
}

.occ-tools-proxy-widget-area.oracle-widget .widget-area-overlay {
  background: #3C91D4;
}

.occ-tools-proxy-widget-area .widget-area-widget-name small {
  display: block;
  font-size: 0.8rem;
}

.occ-tools-proxy-widget-area .widget-area-widget-name {
  color: #fff;
  font-weight: bold;
  display: flex;
  margin: auto;
  min-height: 50px;
}

.occ-tools-proxy-widget-area .occ-tools-proxy-widget-state {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  border: 1px solid #333;
  cursor: pointer;
}

.occ-tools-proxy-widget-area.oracle-widget .occ-tools-proxy-widget-state {
  display: none;
  cursor: default;
}

.occ-tools-proxy-widget-area .occ-tools-proxy-widget-state.active {
  background-color: #3ef53e;
}

.occ-tools-proxy-toogle-overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  color: #000 !important;
  font-size: 0.5rem;
  margin-right: 5px;
}
