.reset-padding-left {
  padding-left: 0;
}
.reset-padding-right {
  padding-right: 0;
}

#occ-proxy-panel .dropdown-filter {
  width: 100%;
}

#occ-proxy-panel .alert-message {
  position: absolute;
  top: 10px;
  padding: 5px 20px;
  display: none;
}

#occ-proxy-panel .alert-message.show-message {
  display: block;
}

#occ-proxy-panel td {
  word-break: break-word;
}

#occ-proxy-panel .status-icon {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #C3C3C3;
}

#occ-proxy-panel table {
  table-layout: fixed;
}
#occ-proxy-panel .request-head {
  width: 30%;
}

#occ-proxy-panel .buttons-head,
#occ-proxy-panel .small-table-head {
  width: 8%;
}

#occ-proxy-panel .status-icon.active {
  background-color: #23FF00;
}

#occ-proxy-panel .status-console .status-line.error {
  color: red;
  font-weight: bold;
}

#occ-proxy-panel .occ-tab-content {
  display: none;
}

#occ-proxy-panel .occ-tab-content.active {
  display: block;
}

#occ-proxy-panel #cache-list-tab .path .cache-list-text {
  display: block;
  max-width: 300px;
  word-break: break-all;
}

#occ-proxy-panel .cache-title {
  margin-top: 0;
}

#occ-proxy-panel .configs-container .config-label {
  display: inline-block;
  width: 10%;
}

#occ-proxy-panel .modal-dialog,
#occ-proxy-panel .modal-content {
  width: 100%;
  margin: 0;
}

#occ-proxy-panel .modal-body {
  height: 92.5vh;
}

#occ-proxy-panel .edit-json .modal-body {
  height: 91.8vh;
}

#occ-proxy-panel .edit-json #json-editor,
#occ-proxy-panel .CodeMirror {
  height: 88.5vh;
}

#occ-proxy-panel .generate-widget .modal-dialog,
#occ-proxy-panel .generate-widget .modal-content {
  width: 50vw;
  height: 50vh;
  margin: 20px auto 0;
}

#occ-proxy-panel .error-message-box {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 97.5vw;
}

#occ-proxy-panel .status-data {
  margin-top: 20px;
}